@import './styles/navbar.css';
@import './styles/buttons.css';
@import './styles/footer.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--primary-color: #486460 ; /*(e.g., used for buttons and accents) */
--secondary-color: #D4BAAE; /*(e.g., used for call-to-action elements)*/
--background-color: #FFFFFF ;/*(e.g., used for the main background)*/
--background-color-trans: #ffffff00 ;/*(e.g., used for the main background)*/
--text-color: #202020;; /*(e.g., used for body text)*/
--text-color-trans: #333333c9; /*(e.g., used for body text)*/
--gray-color: #CCCCCC;
--btn-bg: #C56018;
--btn-bg-hover: #c56018c5;
 font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


/* Font Sizes:
Headings: */

h1{font-size: 36px; font-weight: bold}
h2 {font-size:28px ;font-weight: bold}
h3 {font-size:24px ;font-weight: bold}

body {
  color: var(--text-color);
  padding: 1rem;
}

main section{
  margin-bottom: 72px;
}

.banner-text{
   background: radial-gradient(93.28% 43.28% at 79.88% 26.72%, #313131 0%, rgba(0, 0, 0, 0) 97.26%) /*warning: gradient uses a rotation that is not supported by CSS and may not behave as expected; */

}

/* .banner::before{
  content: '';
  height: 100%;
  width: 100%;
 background: linear-gradient(-60deg, #00000000, #313131c1);
  position: absolute;
  z-index: -1;

} */
details > summary::marker {
    content: '';
}
